<a href="https://colab.research.google.com/github/TruongDuyLongPTIT/DoAnTotNghiepPTIT/blob/main/Chuanhoa_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import random

In [2]:
def ip2int(ip):
    '''
    convert x.x.x.x into a number
    '''
    try:
        ip = ip.split(',')[0]
        ip = ipaddress.ip_address(ip)
        ip = int(ip)
        return ip
    except:
        return random.randint(0, 1<<32)

In [3]:
df = pd.read_csv("/content/pcap.csv")#, nrows = 10000)#
df.columns = ["srcIP", "dstIP"]

In [4]:
df

             srcIP            dstIP
0   210.61.112.230    205.70.215.73
1    75.91.212.239    237.42.73.107
2    218.225.91.30    207.1.132.216
3    201.4.100.235  122.195.111.160
4    218.225.91.30    207.1.132.216
..             ...              ...
93    112.79.48.82  199.137.234.143
94  218.225.237.87   116.246.215.13
95    62.212.64.62    205.217.23.25
96    48.181.81.89   207.136.173.49
97   99.12.195.222    212.30.249.57

[98 rows x 2 columns]

In [7]:
#transform time and IP address into formal type
df["srcIP"] = df["srcIP"].apply(ip2int)
df["dstIP"] = df["dstIP"].apply(ip2int)

In [8]:
df

         srcIP       dstIP
0   1988374161  3107749305
1   3049442620  4045119378
2   3108490710   143398886
3   1148014605  1104098519
4   4263166860  3041128157
..         ...         ...
93  1839858970  1805168052
94   729740642  1264990341
95   453693931  2810851592
96   281325842   880173937
97   447883677  3194234660

[98 rows x 2 columns]

In [9]:
#aggregate nodes, build dictionary
df['srcIP'] = df['srcIP'].apply(lambda x: x >> 8)#
df['dstIP'] = df['dstIP'].apply(lambda x: x >> 8)#

In [10]:
df

       srcIP     dstIP
0    7767086  12139645
1   11911885  15801247
2   12142541    560151
3    4484432   4312884
4   16652995  11879406
..       ...       ...
93   7186949   7051437
94   2850549   4941368
95   1772241  10979889
96   1098929   3438179
97   1749545  12477479

[98 rows x 2 columns]

In [20]:
def search_dict(IP, IP_dict):
    '''
    use a dictionary to renumber the IPs into 0,1,2,...
    '''
    if IP not in IP_dict:
        IP_dict[IP] = len(IP_dict)
    return IP_dict[IP]

In [21]:
IP_dict = {}
df["srcIP"] = df["srcIP"].apply(lambda x : search_dict(x, IP_dict))
df["dstIP"] = df["dstIP"].apply(lambda x : search_dict(x, IP_dict))

In [22]:
IP_dict

{7767086: 0,
 11911885: 1,
 12142541: 2,
 4484432: 3,
 16652995: 4,
 11796490: 5,
 1172249: 6,
 1947345: 7,
 12704221: 8,
 243906: 9,
 16500281: 10,
 14207032: 11,
 16309124: 12,
 13720950: 13,
 14214841: 14,
 9500520: 15,
 6796428: 16,
 2999737: 17,
 15994286: 18,
 946250: 19,
 13035296: 20,
 7060224: 21,
 471513: 22,
 1668041: 23,
 6111059: 24,
 1262307: 25,
 12613991: 26,
 10477843: 27,
 16021292: 28,
 4063235: 29,
 12215179: 30,
 4239441: 31,
 13157736: 32,
 13839489: 33,
 11082513: 34,
 9570867: 35,
 9127855: 36,
 1585923: 37,
 1524414: 38,
 12288443: 39,
 2349042: 40,
 6449631: 41,
 8733664: 42,
 3988115: 43,
 4286726: 44,
 12691214: 45,
 2941589: 46,
 14480880: 47,
 3106897: 48,
 8053719: 49,
 3093986: 50,
 12683500: 51,
 11070092: 52,
 12613233: 53,
 1936179: 54,
 2196460: 55,
 14493705: 56,
 13959020: 57,
 3422884: 58,
 16172051: 59,
 13719606: 60,
 4154379: 61,
 5880876: 62,
 5643209: 63,
 11286759: 64,
 6606520: 65,
 6220977: 66,
 3609662: 67,
 9901552: 68,
 1616876: 69,
 13818980: 70,
 9060784: 71,
 6770235: 72,
 1160324: 73,
 5340110: 74,
 1336322: 75,
 11964648: 76,
 9219226: 77,
 15713713: 78,
 13170006: 79,
 593675: 80,
 2986901: 81,
 13650460: 82,
 5372199: 83,
 16459497: 84,
 8557486: 85,
 7809061: 86,
 3554515: 87,
 13106932: 88,
 15767432: 89,
 6293027: 90,
 2361470: 91,
 5342624: 92,
 7186949: 93,
 2850549: 94,
 1772241: 95,
 1098929: 96,
 1749545: 97,
 12139645: 98,
 15801247: 99,
 560151: 100,
 4312884: 101,
 11879406: 102,
 12904345: 103,
 5841104: 104,
 3130261: 105,
 167261: 106,
 10914414: 107,
 12667712: 108,
 8992221: 109,
 1563262: 110,
 9785990: 111,
 1679147: 112,
 12740410: 113,
 16732615: 114,
 9109211: 115,
 15650151: 116,
 9650202: 117,
 5474494: 118,
 9921967: 119,
 9325555: 120,
 16217674: 121,
 6383908: 122,
 13669039: 123,
 2358953: 124,
 5728163: 125,
 16192394: 126,
 13763831: 127,
 9265631: 128,
 6555985: 129,
 11051409: 130,
 1799891: 131,
 14899360: 132,
 12250457: 133,
 14402013: 134,
 16402634: 135,
 4545622: 136,
 6123957: 137,
 4228308: 138,
 3212744: 139,
 886566: 140,
 14442283: 141,
 4259287: 142,
 219412: 143,
 9847964: 144,
 10217337: 145,
 14707062: 146,
 12067617: 147,
 11038761: 148,
 15685596: 149,
 11904939: 150,
 4716600: 151,
 11665125: 152,
 7993638: 153,
 495707: 154,
 824965: 155,
 13931608: 156,
 16396352: 157,
 6992191: 158,
 15972749: 159,
 10426981: 160,
 10856094: 161,
 9917559: 162,
 5513454: 163,
 12704471: 164,
 14908331: 165,
 436565: 166,
 280712: 167,
 1932547: 168,
 7103989: 169,
 16718840: 170,
 13038941: 171,
 9763252: 172,
 15370194: 173,
 825132: 174,
 1358240: 175,
 13144483: 176,
 8694553: 177,
 6783442: 178,
 10684297: 179,
 6730635: 180,
 7462784: 181,
 12639893: 182,
 460913: 183,
 450318: 184,
 5347807: 185,
 4599090: 186,
 12917644: 187,
 554896: 188,
 14425365: 189,
 834518: 190,
 7051437: 191,
 4941368: 192,
 10979889: 193,
 3438179: 194,
 12477479: 195}